extends _template.pug

include ../components/b-brand/b-brand

include ../components/b-map/b-map
include ../components/b-card/b-card
include ../components/b-welcome/b-welcome

block head
  head
    +head(head.home)
  |
  |


block header
  +header('headerMain', '', '', '', 'userLogin')

block content
  main.l-main-content

    +b-welcome()

    +b-map()

    section.section-default
      .container
        .row
          .col
            h2.ui-title.text-center Корисні посилання
        .row.b-brand-group
          .col-lg-4.col-md-6
            +b-brand('1', 'Верховна Рада України')
          .col-lg-4.col-md-6
            +b-brand('2', 'Президент України')
          .col-lg-4.col-md-6
            +b-brand('1', 'Кабінет Міністрів України')
          .col-lg-4.col-md-6
            +b-brand('3', 'Донецька ОДА')
          .col-lg-4.col-md-6
            +b-brand('4', 'Єдиний державний веб-портал відкритих даних')
          .col-lg-4.col-md-6
            +b-brand('5', 'Міністерство охорони здоров’я України')



  // end .main-content
  |
  |


block scripts
  // File input customization
  script(src="assets/plugins/dropzone.js")
  // Input effects
  script(src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.js")

  //- // User map
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmDUSpdbb5n48MiJG3AF38f4AQcXFg8V0")
  //- // Maps customization
  script(src='assets/js/map-large.js')
  script(src='assets/js/infobubble.js')

  // Filter and sorting
  script(src="assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js")
  script(src="assets/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.uk.min.js")


