extends _template.pug

include ../components/b-object/b-object

block head
  head
    +head(head.about)


block header
  +header('', '', 'breadcrumb', 'Комунальний заклад покровської міської ради донецької області')(class="header_inner-page")


block content
  main.l-main-content
    +b-object()

    // end .user-content
    |
    |



  // end .main-content
  |
  |
