extends _template.pug

include ../components/b-card/b-card
include ../components/b-search/b-search

block head
  head
    +head(head.about)


block header
  +header('', '', 'breadcrumb', 'Пошук')(class="header_inner-page")


block content
  main.l-main-content
    section.section-area
      .container
        h1.ui-title-page Пошук

        +b-search()

        .b-card-group.row
          .col-lg-6
            +b-card('352x176/1', 'ТОВ "Скайтрек"')
          .col-lg-6
            +b-card('352x176/2', 'Будівництво пивоварні зі створенням туристично-рекреаціїної зони')
          .col-lg-6
            +b-card('352x176/3', 'МУВТ "Електроапарат" УТОС МУВТ "Електроапарат" УТОС')
          .col-lg-6
            +b-card('352x176/4', 'ТОВ "Степ""')
          .col-lg-6
            +b-card('352x176/5', 'ТОВ "Сінергія-Си"')
          .col-lg-6
            +b-card('352x176/6', 'Торгівельний павільойон')
          .col-lg-6
            +b-card('352x176/3', 'Торгівельний павільойон')
          .col-lg-6
            +b-card('352x176/1', 'ТОВ Фірма КМК')


        .row.justify-content-center
          .col-sm-8
            nav(aria-label="Навігація по сторінкам")
              ul.pagination.justify-content-center
                li
                  a(href="#" aria-label="Попередня")
                    != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic', iconWidth: '24', iconHeight: '24'})
                li
                  a(href="#" aria-label="1") 1
                li
                  a(href="#" aria-label="2") 2
                li.active(aria-current="page")
                  a(href="#" aria-label="3") 3
                li
                  a(href="#" aria-label="4") 4
                li
                  a(href="#" aria-label="Наступна")
                    != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_180', iconWidth: '24', iconHeight: '24'})

    // end .user-content
    |
    |



  // end .main-content
  |
  |
