extends _template.pug

block head
  head
    +head(head.home)
  |
  |

block header
  +header('', '', 'breadcrumb', 'Про проект')(class="header_inner-page")

block content
  main.l-main-content

    .container
      form.needs-validation(novalidate)
        .ui-check-group
          .custom-control.custom-checkbox.custom-control-inline
            input.custom-control-input#appealCheckEmail(type="checkbox" checked)
            label.custom-control-label(for="appealCheckEmail") На електронну адресу
          .custom-control.custom-checkbox.custom-control-inline
            input.custom-control-input#appealCheckPost(type="checkbox")
            label.custom-control-label(for="appealCheckPost") На поштову адресу
          .custom-control.custom-checkbox.custom-control-inline
            input.custom-control-input#appealCheckTel(type="checkbox")
            label.custom-control-label(for="appealCheckTel") По телефону


        .custom-control.custom-radio.custom-control-inline
          input.custom-control-input#customRadio1(type="radio" name="customRadio" checked)
          label.custom-control-label(for="customRadio1") Toggle this custom radio
        .custom-control.custom-radio.custom-control-inline
          input.custom-control-input#customRadio2(type="radio" name="customRadio")
          label.custom-control-label(for="customRadio2") Or toggle this other custom radio

        .form-group
          .ui-input
            label.ui-input__label(for="appealName")
              span.ui-input__label-content Прізвище Ім’я По Батькові
            input.ui-input__field.form-control.js-input#appealName(type="text" required)
            .invalid-feedback Поле не заповненне

        h2 Альтернативный инпут, без скрипта
        // добавляем .ui-input_no-js и удаляем .js-input
        .form-group
          .ui-input.ui-input_no-js
            label.ui-input__label(for="appealName2")
              span.ui-input__label-content Прізвище Ім’я По Батькові
            input.ui-input__field.form-control#appealName2(type="text" required)
            .invalid-feedback Поле не заповненне

        .form-group
          select.selectpicker(data-width="100%" title="Оберіть місто" multiple data-max-options="1" data-style="ui-select")
            option(value="") Місто
            option(value="") Місто
            option(value="") Місто

        .form-group
          button.btn.btn-primary Додати

block scripts
  // Input effects
  script(src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.js")

