mixin b-welcome()

  section.b-welcome(class!=attributes.class)
    .container
      .row
        .col-md
          .b-welcome__main
            h2.b-welcome__title Підвищення рівня громадської<br>безпеки для жителів нашого міста
            .b-welcome__info Програма «Безпечне місто Покровськ» була прийнята для підвищення рівня громадської безпеки та безпеки середовища проживання. Працюють три ситуаційні центри та налагоджена взаємодія з оперативними частинами МВС та СБУ. Надалі до системи єдиного міського відеоспостереження будуть підключатися заклади, підприємства та інші установи комунальної власності. Покровськ — це наш дім, в якумо має буді безпечно.
        .col-md-auto
          .b-welcome__second
            .b-welcome__img
              img.img-scale(src="assets/media/content/b-welcome/1.jpg", alt="foto")
            span.b-welcome__name Руслан Требушкин
            span.b-welcome__categorie Міський голова
  // end .b-welcome
  |
  |
