.map-main {
  height: 1020px;
}

.b-map {
  &__main {
    position: relative;
  }
  &__filter {
    margin-top: 25px;
    border-top: 1px solid #DFE4EC;
    padding-top: 30px;
    padding-bottom: 25px;
  }
  &__btn-add {
    position: absolute;
    bottom: 110px;
    right: 10vw;
    width: 380px;
  }
  &__wrap-select {
    margin-left: 0;
    margin-right: 0;
  }
  &__select {
    padding-left: 0;
    padding-right: 0;
  }
  .tab-content {
    margin-top: 30px;
  }

  @media (min-width: 1320px) {
    &__container {
      max-width: 1290px;
    }
  }

  @include media-breakpoint-down(md) {
    &__btn-add {
      position: absolute;
      bottom: -49px;
      right: 7px;
      left: 7px;
      z-index: 1;
      width: calc(100% - 14px);
    }
    .tab-content {
      margin-bottom: 50px;
    }
  }

  @include media-breakpoint-down(sm) {
    &__select,
    &__wrap-select {
      width: 100%;
    }
    &__filter {
      border-top: none;
      margin-top: 5px;
    }
  }
}

.b-map-nav {
  width: 256px;
  text-align: center;
  display: block;
  &__item {
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    &:first-child {
      .b-map-nav__link {
        .ic {
          margin-left: 20px;
        }
      }
    }
    &:last-child {
      .b-map-nav__link {
        .ic {
          margin-right: 20px;
        }
      }
    }
  }

  &__link {
    color: #848e99;
    fill: #848e99;
    font-size: 0.875rem;
    .ic {
      vertical-align: middle;
    }
  }
  &__link-text {
    vertical-align: middle;
    display: inline-block;
  }
}


.b-map-search {
  margin-bottom: 40px;
  &__input {}
  &__btn {
    margin-left: -10px;
    width: 256px;
  }

  @include media-breakpoint-down(sm) {
    border-bottom: 1px solid #DFE4EC;
    padding-bottom: 35px;
    margin-bottom: 30px;

    &__btn {
      width: 100%;
      margin-left: 0;
      margin-top: 14px;
    }
  }
}

.b-map-category {
  &__number {
    opacity: 0.5;
    color: $color-main;
    font-size: 0.438rem;
    font-weight: 400;
    transition: all .3s;
    margin-left: 12px;
    vertical-align: super;
  }
  &__item {
    font-size: 0.75rem;
    font-weight: 600;
    transition: all .3s;
    border: 1px solid transparent;
    text-transform: none;
    padding: 4px 12px;
    letter-spacing: normal;
    &.active {
      border-radius: 2.5rem;
      border-color: #d1d9fb;
      background-color: #eaeeff;
      color: #3a4257;

      .b-map-category__number {
        opacity: 1;
      }
    }
  }

  @include media-breakpoint-down(md) {
    text-align: center;
    & &__item {
      margin-bottom: 15px;
    }
  }
}

.b-map-settings {
  text-align: right;
  &__item {
    display: block;
    margin-left: 37px;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }


  @media (max-width:1439px) {
    width: 100%;
    flex: 0 0 100%;
    margin-top: 10px;
    &__item {
      display: inline-block;
    }
  }

  @include media-breakpoint-down(md) {
  }
}


.b-map-bubble {
  background-color: #FFF;
  border-radius: 4px;
  display: table;
  font-family: "Proba Pro";
  position: relative;
  box-shadow: 0 0.375rem 1.375rem rgba(0, 0, 0, 0.04);
  &:after {
    content: '';
    position: absolute;
    top: 100%;
    left: calc(50% - 6px);
    border-style: solid;
    border-width: 12px;
    border-color: #FFF transparent transparent transparent;
  }
  &__media {
    border-radius: 4px;
    overflow: hidden;
    display: table-cell;
  }
  &__img {
    width: 167px;
    height: 100%;
  }
  &__main {
    vertical-align: top;
    padding: 30px 10px 0 0;
    display: table-cell;
  }
  &__title {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 20px;
    padding-left: 10px;
  }
  &__ic {
    width: 30px;
    text-align: center;
    position: absolute;
    top: -2px;
    left: 0;
    fill: #c2c5cb;
    .ic {
    }
  }
  &__info {
    color: #848e99;
    font-size: 0.75rem;
    line-height: 1.25rem;
    padding-left: 28px;
    position: relative;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
