mixin b-map()

  section.b-map.section-default
    .container
      .row.justify-content-between.align-items-center
        .col-auto
          h1.ui-title-page Інформаційна мапа міста
        .col-auto.d-none.d-lg-block
          ul.b-map-nav.nav#mapTab(role="tablist")
            li.b-map-nav__item
              a.b-map-nav__link.active#map-tab(data-toggle="tab" href="#map" role="tab" aria-controls="map" aria-selected="true")
                span.b-map-nav__link-text На мапі
                != pugHelpers.Icon.call(locals, {iconName: 'map', className: 'ic', iconWidth: '18.7', iconHeight: '18.7'})
            li.b-map-nav__item
              a.b-map-nav__link#projects-tab(data-toggle="tab" href="#projects" role="tab" aria-controls="projects" aria-selected="false")
                != pugHelpers.Icon.call(locals, {iconName: 'list', className: 'ic', iconWidth: '18', iconHeight: '16'})
                span.b-map-nav__link-text Списком

    form.b-map-form
      .container
        .b-map-search.row
          .col-md
            input.b-map-search__input.form-control(type="text" placeholder="Пошук за назвою або іншими параметрами")
          .col-md-auto
            button.b-map-search__btn.btn.btn-primary почати пошук

      .container-fluid
        .b-map__wrap-select.row
          .col-xl.col-lg-4.b-map__select
            select.selectpicker(data-width="100%" title="Тимчасові споруди" multiple data-style="ui-select")
              option(value="") Усі
              option(value="") Демонтовані тимчасові споруди
              option(value="") Літні майданчики
              option(value="") Тимчасові споруди встановлені з частковою наявністю документів
              option(value="") Тимчасові споруди встановлено незаконно
              option(value="") Тимчасові споруди з правовстановлючими документами
          .col-xl.col-lg-4.b-map__select
            select.selectpicker(data-width="100%" title="Об'єкти культури" multiple data-style="ui-select")
              option(value="") Усі
              option(value="") Бібліотечні установи
              option(value="") Музейні установи та виставкові центри
              option(value="") Установи клубного типу та концертні організації
              option(value="") Школи естетичного виховання
          .col-xl.col-lg-4.b-map__select
            select.selectpicker(data-width="100%" title="Об'єкти освіти" multiple data-style="ui-select")
              option(value="") Усі
              option(value="") Дитячі будинки
              option(value="") Дитячі сади
              option(value="") Дитячі сади-школи
              option(value="") Ліцеї
              option(value="") Позашкільні заклади
              option(value="") Школи
          .col-xl.col-lg-4.b-map__select
            select.selectpicker(data-width="100%" title="Об'єкти фізичної культури" multiple data-style="ui-select")
              option(value="") Усі
              option(value="") Велобаза
              option(value="") Зал боксу
              option(value="") Зал важкої атлетики
              option(value="") Легкоатлетичний манеж
              option(value="") Спортивні школи
              option(value="") Стадіони
              option(value="") Шаховий клуб
          .col-xl.col-lg-4.b-map__select
            select.selectpicker(data-width="100%" title="Земельні ділянки" multiple data-style="ui-select")
              option(value="") Усі
              option(value="") Самовільно заняті

          .col-xl-auto.col-lg-4.b-map__select.b-map-settings
            button.b-map-settings__item.btn-link(type="button") Обрати всі
            button.b-map-settings__item.btn-link(type="button") Очистити фільтри


    .tab-content#mapTabContent
      .tab-pane.fade.show.active#map(role="tabpanel" aria-labelledby="map-tab")
        .b-map__main
          .map-main#map-main

      .tab-pane.fade#projects(role="tabpanel" aria-labelledby="projects-tab")
        .container
          .b-card-group.row
            .col-lg-6
              +b-card('352x176/1', 'ТОВ "Скайтрек"')
            .col-lg-6
              +b-card('352x176/2', 'Будівництво пивоварні зі створенням туристично-рекреаціїної зони')
            .col-lg-6
              +b-card('352x176/3', 'МУВТ "Електроапарат" УТОС МУВТ "Електроапарат" УТОС')
            .col-lg-6
              +b-card('352x176/4', 'ТОВ "Степ""')
            .col-lg-6
              +b-card('352x176/5', 'ТОВ "Сінергія-Си"')
            .col-lg-6
              +b-card('352x176/6', 'Торгівельний павільойон')
            .col-lg-6
              +b-card('352x176/3', 'Торгівельний павільойон')
            .col-lg-6
              +b-card('352x176/1', 'ТОВ Фірма КМК')
  // end .b-map
  |
  |
