mixin b-search()

  form.b-search.row.mb-4.mt-5
    .col-md-8.col-sm-7
      input.b-search__input.form-control(type="text" placeholder="Пошук за назвою або іншими параметрами")
    .col-md-4.col-sm-5
      button.b-search__btn.btn.btn-primary.w-100 почати пошук

  // end .b-search
  |
  |
