.b-card-group {
  margin-bottom: 6px;
}

.b-card {
  border-radius: 4px;
  background-color: #f4f7fb;
  overflow: hidden;
  padding: 10px;
  font-size: .75rem;
  line-height: 1.67;
  display: block;
  margin-bottom: 30px;
  display: flex;
  &__media {
    border-radius: 4px;
    overflow: hidden;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  &__img {
    width: 285px;
    height: 100%;
  }
  &__main {
    padding-left: 12px;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  &__title  {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.33;
    color: $color-main;
    overflow: hidden;
    height: 4.2rem;
    margin-bottom: 6px;
}
  &__info {
    padding-top: 15px;
    border-top: 1px solid rgba(24, 31, 46, .05);
  }
  &__info-item {}
  &__info-title {
    font-weight: 600;
    color: #4a4a4a;
  }
  &__info-text  {
    color: #848e99;
    height: 2.2rem;
    overflow: hidden;
  }

  &:hover {
    text-decoration: none;
    opacity: 0.5;
  }

  @include media-breakpoint-only(lg) {
    &__img {
      width: 185px;
    }
  }

  @include media-breakpoint-down(sm) {
    display: block;
    &__img {
      width: 100%;
    }
    &__main {
      padding-top: 20px;
    }
  }
}
