mixin b-card(img, name)

  a.b-card(href="#" class!=attributes.class)
    .b-card__media
      img.b-card__img.img-scale(src="assets/media/content/b-card/" + img + ".jpg", alt="foto")

    .b-card__main
      .b-card__title= name
      .b-card__info
        .b-card__info-item
          .b-card__info-title Адреса
          .b-card__info-text 85612, Покровськ, вул. Центральна, 45
        .b-card__info-item
          .b-card__info-title Примітка
          .b-card__info-text Без правовстановлюючих документів на земельну ділянку

  // end .b-card
  |
