/* Color First Primary */

a,
.text-primary,
.breadcrumb > li > a:hover,
.footer-nav__link:hover,
.bootstrap-select .dropdown-menu li a:hover,
.b-map-nav__link.active,
.b-map-nav__link:hover {color: #2d5ca6;}


.bg-primary,
.btn-primary,
.ui-slider_dots_sm .slick-active button,
.custom-control-input:checked ~ .custom-control-label:before {background-color: #2d5ca6;}


.btn-primary,
.bootstrap-select .bs-ok-default:after,
.bootstrap-select.show-tick .dropdown-menu .selected span.check-mark,
.custom-control-input:checked ~ .custom-control-label:before,
.custom-control-label:not(disabled):hover:before,
.sp-button:hover:after,
.sp-selected-button:after {border-color: #2d5ca6;}


.slick-arrow:hover:before,
.slick-arrow:focus:before {
  border-top-color: #2d5ca6;
}
/* {border-right-color: #2d5ca6;} */

.pagination li.active a,
.pagination li.active span {
  border-bottom-color: #2d5ca6;
}

.slick-arrow:hover:before,
.slick-arrow:focus:before {
  border-left-color: #2d5ca6;
}

#page-preloader .spinner {
  border-color: #2d5ca6 #2d5ca6 #2d5ca6 transparent;
}

.pagination__icon:hover {
  stroke: #2d5ca6;
}


.ic-primary {
  stroke: #2d5ca6 !important;
}

.svg-fill-primary,
.b-map-nav__link.active,
.b-map-nav__link:hover {
  fill: #2d5ca6;
}

/* Color First Secondary */

.footer,
.header-top {
  background-color: #234161;
}

/* Second color */

.user-content ul li:before {
  background-color: #ffe358;
}
