mixin b-object()

  article.b-object
    .container
      h1.ui-title-page Комунальний заклад покровської міської ради донецької області
      .row
        .col-lg-8
          img.img-fluid(src="assets/media/content/b-object/1.jpg", alt="foto")
        .col-lg-4
          .b-object-contacts
            .b-object-contacts__item
              .b-object-contacts__title Адреса
              .b-object-contacts__info 85612, Покровськ, вул. Центральна, 45
            .b-object-contacts__item
              .b-object-contacts__title Телефон
              a.b-object-contacts__info(href="tel:0627204559") (062) 720-45-59
            .b-object-contacts__item
              .b-object-contacts__title e-mail
              a.b-object-contacts__info(href="mailto:hello@mail.pokrovsk-rada.gov.ua") hello@mail. pokrovsk-rada.gov.ua
      .row
        .col-lg-8
          .b-object__note-title Примітки
          .b-object__note Постійно створює сприятливі умови для гармонічного розвиту юних спортсменів, та виконання ними високих спортивних досягнень.

      p Свічко О.І.-кікбоксинг (пн,вівт,сер,чтв,пт,сб-14.30-19.00)
      p Гутковський А.Д. ( пн,вівт,сер,чтв,пт,сб -14.30- 18.00)
      p Кнапік С.Б. (пн,вт.сер,чтв,пт,сб-15.00 -19.30) Тяпін А.О. боротьа(пн-пят--15.00-19.00)Горбатько А.О.-боротьба(15.00-19.00) Кононов Є.І. -боротьа (пн-пят 15.00-18.00)Семеноа В.Г.-боротьба(пн-пят 15.00-19.30) Потапов О.О.- УШУ (пн-пт 15.00-19.00)
      p Приходько О.М. - карате (пн,вт,ср,чтв,пт,сб- 15.00-19.00), Олійник О.О. -муейтай (пн,ср,пт,сб- 15.00-19.00) Стрегло О.М. сп.аеробіка та фітнес(пн,вт,ср,чтв,сб- 15.00-19.00)Доброногова Л.П. сп.аеробіка пн,вт,ср

  // end .b-object
  |
  |

