.b-object {
  &__note-title {
    color: #848e99;
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  &__note {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.625rem;
    margin-bottom: 45px;
  }
  img {
    border-radius: 4px;
  }

  @include media-breakpoint-down(md) {
    &__note-title {
      margin-top: 0;
    }
  }
}

.b-object-contacts {
  font-size: 1.125rem;
  font-weight: 600;
  &__item {
    margin-bottom: 47px;
  }
  &__title {
    color: #848e99;
    margin-bottom: 4px;
  }
  &__info {
    color: $color-main;
    display: inline-block;
  }

  @include media-breakpoint-down(md) {
    margin-top: 20px;
    &__item {
      margin-bottom: 25px;
    }
  }
}
