mixin navig()
  ul.main-menu.navbar-nav
    li.main-menu__item.active
      a.main-menu__link(href="#") Головна
        span.sr-only (поточна)
    li.main-menu__item
      a.main-menu__link(href="#") Як це працює?
    li.main-menu__item
      a.main-menu__link(href="#") Про проект


  // end navig
