mixin b-form-appeal()

  form.b-form-appeal.ui-form.needs-validation(novalidate)
    .form-group
      .ui-input
        label.ui-input__label(for="treatmentTitle")
          span.ui-input__label-content Назва об'єкту
        input.ui-input__field.form-control.js-input#treatmentTitle(type="text" required)
        .invalid-feedback Поле не заповненне

    .form-group
      .ui-input.ui-input_r-4
        label.ui-input__label(for="treatmentText")
          span.ui-input__label-content Опис
        textarea.ui-input__field.form-control.js-input#treatmentText(required)

    .row
      .col-md-6
        .form-group
          .ui-input
            label.ui-input__label(for="treatmentAddress")
              span.ui-input__label-content Адреса споруди
            input.ui-input__field.form-control.js-input#treatmentAddress(type="text" required)
            .invalid-feedback Поле не заповненне
      .col-md-6
        .form-group
          select.selectpicker(data-width="100%" title="Оберіть тип об'єкту" multiple data-max-options="1" data-style="ui-select ui-select_cast_input")
            option(value="") Тип 1
            option(value="") Тип 2
            option(value="") Тип 3

    .row
      .col-md-6
        .form-group
          .ui-input
            label.ui-input__label(for="treatmentName")
              span.ui-input__label-content Ваше Iм'я
            input.ui-input__field.form-control.js-input#treatmentName(type="text" required)
            .invalid-feedback Поле не заповненне

      .col-md-6
        .form-group
          .ui-input
            label.ui-input__label(for="treatmentEmail")
              span.ui-input__label-content E-mail
            input.ui-input__field.form-control.js-input#treatmentEmail(type="email" required)
            .invalid-feedback Поле не заповненне

    .row
      .col-lg-10
        .form-group
          .b-form-appeal__map#map-main
      .b-form-appeal__note.col-lg-2 Виберіть об'єкт на карті. Якщо ви залишите адреса не заповненими, то він буде автоматично згенеровані з вашого місця розташування

    .row
      .col-lg-10
        .form-group
          .ui-upload.js-upload.row
            .col-auto
              button.ui-upload__btn.btn.btn-default.js-upload-btn(type="button") Додайте фото
            .ui-upload__note.col Додайте фото.<br> Максимальний розмір файлу — 5 Мб
        .js-upload-container


    .row.justify-content-end.align-items-center
      .col-sm-auto
        .custom-control.custom-checkbox
          input.custom-control-input(type="checkbox" required)#agreement
          label.custom-control-label(for="agreement") Я згоден з правилами звернень громадян та обробки моїх даних
      .col-sm-auto
        button.btn.btn.btn-primary.mt-3.mt-sm-0 Додати

  // end .b-form-appeal
  |
  |

